# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environment
venv/
env/
*.env

# System files
.DS_Store
Thumbs.db

# Logs
*.log

# Pytest / coverage
.pytest_cache/
.coverage
htmlcov/

# Streamlit cache
.streamlit/

# VS Code / IDE configs
.vscode/
.idea/
